:root {
  --color1: #05b1b1;
  --color2: #52339a;
}

header,
footer,
section {
  padding: 100px 0;
}

header {
  padding: 200px 0;
}

header,
footer {
  background: url(../img/pattern.png), var(--color1);
  background: url(../img/pattern.png),
    linear-gradient(90deg, var(--color1) 21%, var(--color2) 72%);
  background-size: contain;
}

.itd_play {
  background-color: var(--color1);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 30px auto;
  transition: all 0.2s ease;
}

.itd_play:hover {
  background-color: var(--color2);
}

.itd_triangle {
  margin-right: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 24px;
  border-color: transparent transparent transparent var(--bs-white);
}

.btn-itd {
  display: block !important;
  max-width: 200px !important;
  margin: 0 auto !important;
  padding: 8px 30px !important;
  background-color: var(--color2) !important;
  color: var(--bs-white) !important;
  border: none !important;
}

.btn-itd:hover {
  background-color: var(--color1) !important;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* About this course*/
.itd-circle {
  margin: 0 auto 15px;
  width: 70px;
  height: 70px;
  border: 3px solid var(--color2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 100px;
  height: 3px;
  background-color: var(--color1);
  margin: 15px auto 30px;
}

.about,
.schedule,
.learning {
  background-color: #eee;
}

.about i {
  font-size: 25px;
  color: var(--color2);
}

/* For whom */

.forwhom h5 {
  padding: 50px;
  border: 3px solid var(--color1);
  border-radius: 5px;
}

/* Schedule */

.accordion-button:not(.collapsed) {
  color: var(--bs-black) !important;
  background-color: var(--bs-white) !important;
}

/* Learinig process */

.learning h5 {
  padding: 25px;
  border: 3px solid var(--color1);
  border-radius: 10px;
}

/* Color */

.color1 {
  color: var(--color1);
}

.color2 {
  color: var(--color2);
}

.bg1 {
  background-color: var(--color1);
}

.bg2 {
  background-color: var(--color2);
}
